{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static '/favicons/favicon.ico' %}">
  <title>template test</title>
</head>
<body>
  <h1>英日ニューラル機械翻訳モデルの作成</h1>
  <h2>機械翻訳</h2>
  <p>googleで翻訳された結果</p>
  <div class="container">
    <form method="post" action="google_translate">
      {% csrf_token %}
      <input type="text" name="google_translate" placeholder="日本語を入力をしてください">
      <input type="submit">
    </form>
  <div>

    <h2>fairseqを用いて機械翻訳</h2>
    <div class="container">
      <form method="post" action="output_fairseq">
        {% csrf_token %}
        <input type="text" name="output_fairseq" placeholder="英語を入力してください。">
        <input type="submit">
      </form>
    <div>



  <p>独自で開発した機械翻訳</p>
  <div class="container">
    <form method="post" action="my_translate">
      {% csrf_token %}
      <input type="text" name="my_translate" placeholder="まだ未実装です....">
      <input type="submit">
    </form>
  <div>

  <h2>juliusとpythonを用いて音声認識を行う</h2>
  <p>スタートするため</p>
  <div class="container">
    <form method="post" action="output_julius">
      {% csrf_token %}
      <input type="text" name="output_julius" placeholder="音声認識を始める と入力したら開始。">
      <input type="submit">
    </form>
  <div>

  <h2>bleuスコアを用いて、</h2>
  <p>話しかけてください</p>
  <div class="container">
    <form method="post" action="bleu">
      {% csrf_token %}

      <input type="text" name="bleu_ref" placeholder="参照の文章を入れてください">
      <input type="text" name="bleu_text" placeholder="翻訳された結果の文章を入れてください。">
      <input type="submit">

    </form>
  <div>





  <h2>ポジティブかどうかの測定を行う。</h2>
  <p>反映されるまでやや時間がかかります</p>
  <form method="post" action="output">
    {% csrf_token %}
    <input type="text" name="date" placeholder="日本語を入力をしてください">
    <input type="submit">
  </form>
  <h2>要約</h2>

  <h2>もとのページに遷移する</h2>
  <a href="http://127.0.0.1:8000/myapp/templates/">元のページに戻る</a>


</body>
</html>
